<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931517238123-i7nofkcc8cge8puh9a8t46h8fat4asff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931517238123-i7nofkcc8cge8puh9a8t46h8fat4asff</string>
	<key>API_KEY</key>
	<string>AIzaSyDovThRJJH0kX9fDY_32LwJHYtvkEioNy8</string>
	<key>GCM_SENDER_ID</key>
	<string>931517238123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.m15.PetM15Talks-002</string>
	<key>PROJECT_ID</key>
	<string>m15talks</string>
	<key>STORAGE_BUCKET</key>
	<string>m15talks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931517238123:ios:fcef1ce4c814696d665a2e</string>
</dict>
</plist>